{% assign author = site.author %}
<div class="profile" itemscope itemtype="https://schema.org/Person">
  <img class="profile__avatar" src="{{ author.avatar | prepend: '/images/' | relative_url }}" alt="{{ author.name }}" width="175" height="175" itemprop="image">
  <div class="profile__identity">
    <h2 class="profile__name" itemprop="name">{{ author.name }}</h2>
    <p class="profile__bio">{{ author.bio }}</p>
    <p class="profile__location">{{ author.location }}</p>
  </div>
  <ul class="profile__links" aria-label="Contact and profiles">
    <li><a href="mailto:{{ author.email }}">Email</a></li>
    <li><a href="{{ author.googlescholar | escape }}">Google Scholar</a></li>
    <li><a href="https://github.com/{{ author.github }}">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}">LinkedIn</a></li>
    {% if author.flickr %}<li><a href="https://www.flickr.com/photos/{{ author.flickr }}/">Photography</a></li>{% endif %}
  </ul>
</div>
